[hub]
    protocol = https
[user]
    name =  'Jonathan Munz'
    email = jpmunz@gmail.com
[alias]
    co = checkout
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
; https://github.com/so-fancy/diff-so-fancy
[color "diff-highlight"]
    oldNormal = "red bold"
    oldHighlight = "red bold 52"
    newNormal = "green bold"
    newHighlight = "green bold 52"
[color "diff"]
    meta = "11"
    frag = "magenta bold"
    func = "146 bold"
    commit = "yellow bold"
    old = "red bold"
    new = "green bold"
    whitespace = "red reverse"
[interactive]
    diffFilter = "diff-so-fancy --patch"
[core]
    excludesfile = ~/.gitignore
    editor = vim
    pager = "diff-so-fancy | less --tabs=4 -RFX"
[apply]
    whitespace = nowarn
[mergetool]
    keepBackup = false
[difftool]
    prompt = false
[help]
    autocorrect = 1
[credential]
    helper = cache
